//-----------------------------------
//   Footer
//-----------------------------------

.footer {
    .main-block {
        padding: 50px 0; 
        background-color: #131313;
         @include mq('md') {
            padding: 35px 0;
         }
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mq('md') {
                flex-direction: column;
            }
            .footer-menu {
                ul {
                    display: flex;
                    @include mq('md') {
                        flex-direction: column;
                    }
                    li {
                        list-style: none;
                        margin-right: 30px;
                         @include mq('md') {
                            margin: 0 0 10px 0;
                            text-align: center; 
                         }
                        &:last-child {
                            margin: 0;
                        }
                        a {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 600;
                            color: #fff;
                        }
                    }
                }
            }
            .footer-socials {
                display: flex;
                align-items: center;
                @include mq('md') {
                    margin-top: 30px;
                }
                a {
                    display: block;
                    width: 34px;
                    height: 34px;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 34px;
                    text-align: center;
                    margin-right: 20px;
                    opacity: .8;
                    transition: .2s ease;
                    transform: translateZ(0);
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        opacity: 1;
                    }
                    &.vkontakte {
                        background-image: svg-load('../../images/svg/socials/vkontakte.svg', fill=#fff);
                        background-color: #507298;
                        background-size: 19px;
                    }
                    &.telegram {
                        background-image: svg-load('../../images/svg/socials/telegram.svg' , fill=#fff);
                        background-color: #35aae0;
                        background-size: 18px;
                    }
                    &.instagram {
                        background-image: svg-load('../../images/svg/socials/instagram.svg' , fill=#fff);
                        background-color: #cb319b;
                        background-size: 18px;
                    }
                }
            }
        }
    }

    .copyright {
        font-size: 13px;
        line-height: 17px;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        background: #131313;
        border-top: 1px solid #444;
        // @include mq('tablet') {
        //     text-align: center;
        //     padding: 0;
        //     margin-bottom: 15px;
        // }
    }




    // .phone {
    //     text-align: center;
    //     padding-top: 4px;
    //     @include mq('tablet') {
    //         padding: 0;
    //         margin-bottom: 15px;
    //     }
    //     a {
    //         display: inline-block;
    //         font-size: 20px;
    //         line-height: 28px;
    //         color: #333;
    //         border-bottom: 1px solid #333;
    //         &:hover {
    //             border-bottom-color: transparent;
    //         }
    //     }
    // }
    // ul.social-network {
    //     font-size: 0;
    //     text-align: right;
    //     @include mq('tablet') {
    //         text-align: center;
    //     }
    //     li {
    //         display: inline-block;
    //         margin-right: 15px;
    //         &:last-child {
    //             margin-right: 0;
    //         }
    //         a {
    //             display: block;
    //             width: 34px;
    //             height: 34px;
    //             background-repeat: no-repeat;
    //             background-position: center;
    //             border-radius: 34px;
    //             text-align: center;
    //             opacity: .8;
    //             transition: .2s ease;
    //             transform: translateZ(0);
    //             &:hover {
    //                 opacity: 1;
    //             }
    //             &.vkontakte {
    //                 background-image: svg-load('../../images/svg/socials/vkontakte.svg', fill=#fff);
    //                 background-color: #507298;
    //                 background-size: 19px;
    //             }
    //             &.telegram {
    //                 background-image: svg-load('../../images/svg/socials/telegram.svg' , fill=#fff);
    //                 background-color: #35aae0;
    //                 background-size: 18px;
    //             }
    //             &.instagram {
    //                 background-image: svg-load('../../images/svg/socials/instagram.svg' , fill=#fff);
    //                 background-color: #cb319b;
    //                 background-size: 18px;
    //             }
    //             &.youtube {
    //                 background-image: svg-load('../../images/svg/socials/youtube.svg' , fill=#fff);
    //                 background-color: #ff2a05;
    //                 background-size: 20px;
    //             }
    //         }
    //     }
    // }
    // // White
    // &.white {

    // }
    // // Black
    // &.black {
    //     border-top: none;
    //     background-color: #333;
    //     .copyright {
    //         color: #fff;
    //     }
    //     .phone {
    //         a {
    //             color: #fff;
    //             border-bottom-color: #fff;
    //         }
    //     }
    //     ul.social-network {
    //         li {
    //             a {
    //                 opacity: .9;
    //             }
    //         }
    //     }
    // }
}
