//-----------------------------------
//   Header
//-----------------------------------

.header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 65px;
	padding: 20px 50px;
	transition: .2s ease;
	z-index: 3;
	background-color: transparent;
	@include mq('xl') {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mq('md') {
		padding: 15px 20px;
	}
	@include mq('sm') {
		padding: 15px;
	}
	&.is-fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	.logo {
		display: flex;
		align-items: center;
		transform: translateY(0);
		img {
			width: 50px;
			@include mq('sm') {
				width: 44px;
			}
		}
		.text {
			margin-left: 10px;
			@include mq('sm') {
				display: none;
			}
			p {
				color: #fff;
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
				&.big {
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 4px;
				}
			}
		}
	}
	nav.top-menu {
		transform: translateY(0);
		@include mq('md') {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			transform: translateX(-100%);
			opacity: 0;
			transition: .3s ease;
			&.is-open {
				opacity: 1;
				transform: translateX(0);
			}
		}
		ul {
			display: flex;
			@include mq('md') {
				flex-direction: column;
				justify-content: center;
				height: 100%;
			}
			li {
				list-style: none;
				margin-left: 25px;
				font-size: 16px;
				line-height: 20px;
				font-weight: 600;
				color: #fff;
				@include mq('md') {
					margin-left: 0;
					font-size: 18px;
					line-height: 22px;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					position: relative;
					display: block;
					color: #fff;
					padding: 10px 0;
					@include mq('md') {
						padding: 15px 15px 15px 40px;
					}
					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						border-radius: 2px;
						background-color: rgba(255,255,255,.5);
						transition: .2s ease;
						transform: scale(0);
						@include mq('md') {
							display: none;
						}
					}
					&:hover {
						&:after {
							transform: scale(1);
						}
					}
				}
				&.current_page_item {
					a {
						&:after {
							background-color: rgba(255,255,255,1);
							transform: scale(1);
						}
					}
				}
			}
		}
		.close-menu {
			display: none;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 36px;
			height: 36px;
			background: svg-load('../../images/svg/close.svg', fill=#fff) no-repeat center;
			background-size: 20px;
			@include mq('md') {
				display: block;
			}
		}
	}
	.menu-toggle {
		display: none;
		width: 36px;
		height: 32px;
		padding: 8px 0 8px 8px;
		cursor: pointer;
		@include mq('md') {
			display: block;
		}
		i {
			display: block;
			height: 2px;
			background-color: #fff;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
