//-----------------------------------
//   Внутренняя страница
//-----------------------------------

.l-page {
    .page-header {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: linear-gradient(to bottom, #5366ee, $c-primary);
        color: #fff;
        .inner {
            display: flex;
            align-items: flex-end;
            min-height: 250px;
            padding: 70px 0 55px 0;
            opacity: 1;
            transition-delay: 0s;
            @include mq('sm') {
                min-height: 220px;
                padding: 60px 0 40px 0;
            }
            .text {
                width: 100%;
                text-align: center;
                h1 {
                    font-size: 38px;
                    line-height: 44px;
                    color: #fff;
                    margin-bottom: 0;
                    @include mq('md') {
                        font-size: 32px;
                        line-height: 38px;
                    }
                }
                p {
                    font-size: 20px;
                    line-height: 24px;
                    color: #fff;
                    margin-top: 10px;
                    @include mq('md') {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                .view-portfolio {
                    margin-top: 40px;
                    a {
                        display: inline-block;
                        position: relative;
                        background: none;
                        border: none;
                        color: #fff;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 10px 20px 22px 10px;
                        cursor: pointer;
                        outline: none;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 20px;
                            height: 20px;
                            background: svg-load('../../images/svg/arrow-bottom.svg', fill=#fff) no-repeat center;
                            transition: .2s ease;
                            transform: translateY(0);
                        }
                        &:hover {
                            &:after {
                                transform: translateY(5px);
                            }
                        }
                    }
                }
            }
        }
    }
    .page-content {
        padding: 50px 0;
        opacity: 1;
        transition-delay: 0s;
        @include mq('lg') {
            padding: 25px 0;
        }
    }
    // Главная страница
    &.home {
        .page-header {
            .inner {
                align-items: center;
                min-height: 500px;
                padding: 70px 0 40px 0;
                @include mq('sm') {
                    padding: 60px 0 40px 0;
                }
            }
        }
        .homepage-contact-form {
            padding: 100px 0;
            // background-color: $c-primary;
            background: linear-gradient(to bottom, #fb7e36, #f5aa7f);
            @include mq('sm') {
                padding: 60px 0;
            }
            .block-title {
                margin-bottom: 30px;
                text-align: center;
                h4 {
                    font-size: 32px;
                    line-height: 36px;
                    margin: 0  0 10px 0;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                }
            }
            .common-form {
                max-width: 520px;
                margin: auto;
                @include mq('sm') {
                    max-width: 300px;
                }
                .inner {
                    display: flex;
                    @include mq('sm') {
                        flex-direction: column;
                    }
                    .form-group {
                        width: calc(100% - 190px);
                        margin: 0 20px 0 0;
                        @include mq('sm') {
                            width: 100%;
                            margin: 0 0 15px 0;
                        }
                        .form-control {
                            padding: 10px 30px;
                            border: none;
                            border-radius: 2px;
                            @include mq('sm') {
                                text-align: center;
                            }
                        }
                    }
                    .btn {
                        // background: #fff;
                        // color: #000;
                        width: 170px;
                        @include mq('sm') {
                            width: 100%;
                            margin: auto;
                        }
                    }
                }
                .privacy {
                    p {
                        color: #fff;
                        a {
                            color: #fff;
                            border-bottom-color: #fff;
                        }
                    }
                }
            }
        }
    }

    // Внутренняя страница
    &.single {
        .page-title {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 40px;
            text-align: center;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        ul, ol {
            padding-left: 20px;
            margin-bottom: 20px;
            li {
                font-size: 18px;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        blockquote {
            margin-bottom: 20px;
            border: 1px solid $c-primary;
            padding: 20px;
            p {
                font-style: italic;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Обо мне
    &.about {
        .page-content {
            .author-info {
                display: flex;
                margin-bottom: 30px;
                .author-image {
                    overflow: hidden;
                    width: 250px;
                    margin-right: 50px;
                    @include mq('sm') {
                        margin: 0 auto 20px auto;
                        width: 180px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 30px 30px 0 30px;
                    }
                }
                .author-text {
                    width: calc(100% - 310px);
                }
            }
        }
    }

    // Страница контактов
    &.contacts {
        .page-content {
            .block-title {
                margin-bottom: 25px;
                @include mq('md') {
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 24px;
                    margin: 0;
                    @include mq('md') {
                        font-size: 22px;
                    }
                }
                p {
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
            .contact-list {
                @include mq('md') {
                    margin-bottom: 40px;
                }
                .item {
                    margin-bottom: 30px;
                     @include mq('md') {
                        margin-bottom: 20px;
                     }
                    p {
                        color: #999;
                        margin-bottom: 5px;
                        font-size: 20px;
                        @include mq('md') {
                            font-size: 18px;
                            margin-bottom: 0;
                        }
                    }
                    a {
                        font-size: 20px;
                        border-bottom: 1px dashed $c-primary;
                         @include mq('md') {
                            font-size: 18px;
                         }
                        &:hover {
                            border-bottom-color: transparent;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            form.common-form {
                border: 1px solid #eee;
                padding: 25px;
                .btn {
                    width: auto;
                }
            }
        }
    }

    // Мои проекты
    &.my-projects {
        .page-content {
            .inner {
                max-width: 700px;
                margin: auto;
                .description {
                    margin-bottom: 40px;
                    font-size: 18px;
                    line-height: 26px;
                }
                .my-projects-list {
                    
                    .item {
                        border-bottom: 1px solid #eee;
                        margin-bottom: 30px;
                        padding-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        h4 {
                            font-size: 24px;
                            line-height: 28px;
                            margin: 0 0 10px 0;
                        }
                        p {
                            font-size: 16px;
                            line-height: 22px;
                            margin: 0 0 10px 0;
                        }
                        .more {
                            font-weight: 600;
                            border-bottom: 1px solid $c-primary;
                        }
                    }
                }
            }
        }
    }

    // Портфолио
    &.portfolio {
        .page-content {
            padding: 0;
        }
    }

    // 404
    &.page-404 {
        background-color: $c-primary;
        height: calc(100vh - 192px);
        .page-content {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 70px 0 30px 0;
            .text {
                text-align: center;
                h1 {
                    font-size: 100px;
                    line-height: 100px;
                    color: #fff;
                    margin: 0 0 10px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                    color: #fff;
                }
                .btn {
                    background: #fff;
                    color: $c-primary;
                    margin-top: 30px;
                    &:hover {
                        background: darken(#fff, 3%);
                    }
                }
            }
        }
    }
}
