//-----------------------------------
//   Portfolio list
//-----------------------------------

.portfolio-list {
	background-color: #f2f2f2;
	padding: 50px 0 20px 0;
	
	@include mq('sm') {
		padding: 30px 0 0 0;
	}
	.portfolio-list-inner {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		max-width: 100%;
		opacity: 1;
		transition-delay: 0s;
		overflow: hidden;
		@include mq('sm') {
			padding-bottom: 15px;
		}
	}
	.item {
		display: block;
		position: relative;
		width: 33.33333%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include mq('lg') {
			width: 50%;
		}
		@include mq('sm') {
			width: 100% !important;
			margin-bottom: 15px;
		}
		.inner {
			position: relative;
			overflow: hidden;
			box-shadow: 0px 5px 15px rgba(0,0,0,.15);
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,.2);
				opacity: 0;
				z-index: 1;
				transition: .3s ease;
				@include mq('sm') {
					display: none;
				}
			}
			.image {
				width: 100%;
				height: 300px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transform: scale(1.07);
				filter: blur(0);
				transition: .5s ease;
				@include mq('md') {
					height: 240px;
				}
				@include mq('sm') {
					height: 300px;
				}
			}
			.text {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: rgba(0,0,0,.7);
				color: #fff;
				font-size: 16px;
				line-height: 22px;
				font-weight: 600;
				padding: 15px 20px;
				z-index: 2;
				transform: translateY(100%);
				transition: .4s ease;
				@include mq('sm') {
					transform: translateY(0);
				}
			}
			&:hover {
				&:before {
					opacity: 1;
				}
				.image {
					transform: scale(1);
					filter: blur(2px);
				}
				.text {
					transform: translateY(0);
				}
			}
		}
	}
	.loadmore {
		display: flex;
		width: 100%;
		justify-content: center;
		margin: 20px 0 30px 0;
		@include mq('sm') {
			margin: 0 0 30px 0;
		}
		.btn {
			height: 54px;
			min-width: 220px;
			@include mq('sm') {
				height: 42px;
			}
		}
	}
}