//-----------------------------------
//   Single project
//-----------------------------------

.single-project {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0;
	@include mq('lg') {
		padding: 20px 0;
	}
	@include mq('md') {
		padding: 10px 0 !important;
	}
	@include mq('sm') {
		padding: 0 !important;
	}
	.content-main {
		width: 78%;
		padding-right: 100px;
		@include mq('xl') {
			padding-right: 70px;
		}
		@include mq('lg') {
			order: 2;
			width: 100%;
			padding-right: 0;
		}
		.description {
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 40px;
			@include mq('lg') {
				margin-bottom: 25px;
				font-size: 14px;
				line-height: 26px;
			}
			p {
				margin-bottom: 15px;
				@include mq('lg') {
					margin-bottom: 10px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				a {
					border-bottom: 1px solid transparent;
					&:hover {
						border-bottom-color: $c-primary;
					}
				}
			}
		}
		.image-list {
			.item {
				margin-bottom: 30px;
				border: 1px solid #eee;
				border-radius: 3px;
				overflow: hidden;
				@include mq('lg') {
					margin-bottom: 20px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				img {
					width: 100%;
					max-width: 100%;
					height: auto;
				}
			}
		}
		.page-pagination {
			// display: none;
		}
	}
	.content-aside {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 22%;
		@include mq('lg') {
			flex-direction: row;
			align-items: center;
			order: 1;
			width: 100%;
			margin-bottom: 30px;
		}
		.company-logo {
			border-radius: 3px;
			overflow: hidden;
			border-radius: 2px;
			@include mq('lg') {
				width: 70px;
				height: 70px;
				margin-right: 20px;
			}
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
				margin: 0;
			}
		}
		.text {
			margin-top: 20px;
			@include mq('lg') {
				margin: 0;
				width: calc(100% - 100px);
			}
			p {
				font-size: 14px;
				font-weight: 600;
				color: #333;
				span {
					color: #cbcbcb;
				}
			}
		}
		.btn {
			display: block;
			width: 100%;
			margin-top: 30px;
			@include mq('lg') {
				margin-top: 20px;
				max-width: 220px;
			}
		}
	}
}