@charset 'utf-8';

//-----------------------------------
//   Variables
//-----------------------------------

$c-primary: #23aaea;
$c-secondary: #41ccff;
$c-danger: #fe3f3f;
$c-text: #333;


//-----------------------------------
//   Final files
//-----------------------------------

// Bootstrap ----------------------/
@import "components/bootstrap";
@import "base/index";
@import "components/index";
@import "modules/index";
