//-----------------------------------
//   Base styles
//-----------------------------------
html {
	font-size: 16px;
	height: 100%;
}
body {
	background-color: #fff;
	font-size: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: $c-text;
	&.overflow {
		overflow: hidden;
	}
	&.init-animation {
		.header {
			.logo {
				transform: translateY(calc(-100% - 25px));
			}
			nav.top-menu, .menu-toggle {
				transform: translateY(calc(-100% - 25px));
			}
		}
		.l-page {
			.page-header {
				.inner {
					opacity: 0;
				}
			}
			.page-content, .portfolio-list .portfolio-list-inner {
				opacity: 0;
			}
		}
	}
	&.animation-transition {
		.header {
			.logo {
				transition: .7s ease;
			}
			nav.top-menu, .menu-toggle {
				transition: .7s ease;
			}
		}
		.l-page {
			.page-header {
				.inner {
					transition: .4s ease;
					transition-delay: .4s;
				}
			}
			.page-content, .portfolio-list .portfolio-list-inner {
				transition: .4s ease;
				transition-delay: .6s;
			}
		}
	}
}
a {
	color: $c-primary;
	text-decoration: none;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	transition: .2s ease;
	&:hover {
		text-decoration: none;
		color: $c-primary;
	}
}
input, textarea, button {
	outline: none;
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
ul, li, p {
	margin: 0;
	padding: 0;
}

.clear { clear: both; }

.l-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.l-main {
	height: 100%; 
	display: table-row;
}
