//-----------------------------------
//   Преимущества
//-----------------------------------

.l-advantages {
    padding: 80px 0;
    @include mq('tablet-wide') {
        padding-bottom: 40px;
    }
    @include mq('tablet') {
        padding: 50px 0 10px 0 !important;
    }
    .item {
        text-align: center;
        @include mq('tablet-wide') {
            margin-bottom: 40px;
        }
        i.ico {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto 25px auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include mq('tablet-wide') {
                width: 100px;
                height: 100px;
                margin-bottom: 15px;
            }
            &.ico-1 {
                background-image: svg-load('../../images/svg/inspection.svg', fill=$c-secondary);
            }
            &.ico-2 {
                background-image: svg-load('../../images/svg/server.svg', fill=$c-secondary);
            }
            &.ico-3 {
                background-image: svg-load('../../images/svg/networking.svg', fill=$c-secondary);
            }
            &.ico-4 {
                background-image: svg-load('../../images/svg/analytics.svg', fill=$c-secondary);
            }
        }
        h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
            @include mq('tablet-wide') {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
    }
}
