//-----------------------------------
//   Сертификат
//-----------------------------------

.l-certificate {
    position: relative;
    background: resolve('certificate-bg.jpg');
    background-size: 120px;
    padding: 100px 0;
    @include mq('tablet') {
        padding: 60px 0;
        background-size: 80px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, #fff, transparent);
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, #fff, transparent);
    }
    .text {
        padding-top: 140px;
        @include mq('desktop') {
            padding-top: 110px;
        }
        @include mq('tablet-wide') {
            padding-top: 0 !important;
        }
        p {
            font-size: 30px;
            font-weight: 700;
            line-height: 46px;
            @include mq('desktop') {
                font-size: 26px;
                line-height: 38px;
            }
            @include mq('tablet-wide') {
                text-align: center;
                margin-bottom: 30px;
            }
            @include mq('tablet') {
                font-size: 20px !important;
                line-height: 24px !important;
            }
            span {
                color: $c-secondary;
            }
        }
    }
    .certificate-img {
        img {
            display: block;
            width: 100%;
            height: auto;
            border: 4px solid #efefef;
            box-shadow: 5px 5px 20px rgba(70,70,70,.4);
        }
    }
}
