//-----------------------------------
//   Остались вопросы
//-----------------------------------

.l-contact-block {
    position: relative;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include mq('tablet') {
        padding: 50px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(40, 40, 40, 0.8);
    }
    .block-title {
        margin-bottom: 60px;
        @include mq('tablet') {
            margin-bottom: 40px;
        }
        p {
            margin-top: 15px;
        }
    }
    .content {
        @include mq('tablet') {
            max-width: 360px;
            margin: auto;
        }
        form.common-form {
            max-width: 750px;
            margin: auto;
            font-size: 0;
            .form-group {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 32%;
                margin: 0 2% 0 0;
                @include mq('tablet') {
                    width: 100%;
                    margin: 0 0 25px 0;
                }
                .form-control {
                    height: 50px;
                    border: 1px solid #fff;
                    padding: 10px 15px;
                    color: #fff;
                    background-color: transparent;
                    box-shadow: none;
                    &::placeholder {
                        color: #eee;
                    }
                    &:focus {
                        border-color: lighten($c-primary, 5%);
                    }
                }
                .err {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }
                &.has-error {
                    .form-control {
                        border-color: red;
                    }
                }
            }
            .btn {
                display: inline-block;
                vertical-align: top;
                width: 32%;
                @include mq('tablet') {
                    width: 100%;
                }
            }
            .privacy {
                p {
                    color: #fff;
                }
            }
        }
    }
}
