//-----------------------------------
//   Экран приветствия
//-----------------------------------

.l-intro {
    position: relative;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        .image, .color, .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            overflow: hidden;
            video {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
            }
        }
    }
    .transparent-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        display: table;
        width: 100%;
        height: 100%;
        margin: auto;
        &.height-wh {
            height: calc(100vh - 65px);
            @include mq('tablet') {
                height: calc(100vh - 50px);
            }
        }
        .inner {
            display: table-cell;
            padding: 30px 0;
        }
        .text {
            margin-bottom: 40px;
            h1 {
                color: #fff;
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 36px;
                @include mq('tablet-wide') {
                    font-size: 34px;
                }
                @include mq('tablet') {
                    font-size: 30px !important;
                    margin-bottom: 10px;
                }
            }
            p {
                color: #fff;
                font-size: 24px;
                @include mq('tablet-wide') {
                    font-size: 22px;
                }
                @include mq('tablet') {
                    font-size: 20px !important;
                    margin-bottom: 20px;
                }
            }
        }
        .buttons {
            font-size: 0;
            .btn {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &.type-1 {
            @include mq('tablet') {
                height: auto !important;
                padding: 30px 0;
            }
            .inner {
                padding: 60px 0;
            }
        }
        &.type-2 {
            // display: block;
            // padding: 120px 0;
            // height: auto;
            @include mq('tablet') {
                height: auto !important;
                padding: 30px 0 !important;
            }
            .inner {
                vertical-align: middle;
            }
            .text-block {
                @include mq('tablet') {
                    margin-bottom: 40px;
                }
                .text {
                    display: block;
                    padding: 0;
                }
            }
            form.common-form {
                background-color: #fff;
                padding: 20px;
                .title {
                    text-align: center;
                    margin-bottom: 10px;
                    h4 {
                        font-size: 26px;
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 16px;
                        color: #999;
                    }
                }
                .form-group {
                    margin-bottom: 25px;
                }
            }
        }
        &.type-3 {
            .inner {
                text-align: center;
                vertical-align: middle;
                width: 100%;
                .text {
                    margin-bottom: 0;
                }
                .countdown-timer {
                    margin-top: 30px;
                    & > div {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 5px;
                        .label {
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 7px;
                        }
                        .timer {
                            font-size: 60px;
                            line-height: 60px;
                            font-weight: 700;
                            padding: 15px 8px 10px 8px;
                            border-radius: 5px;
                        }
                    }
                    &.white {
                        .label {
                            color: #fff;
                        }
                        .timer {
                            background-color: #fff;
                            color: #333;
                        }
                    }
                    &.black {
                        .label {
                            color: #fff;
                        }
                        .timer {
                            background-color: #333;
                            color: #fff;
                        }
                    }
                }
                .buttons {
                    margin-top: 40px;
                }
            }
        }
        &.type-4 {
            .inner {
                text-align: center;
                vertical-align: middle;
                width: 100%;
                .text {
                    margin-bottom: 0;
                }
            }
            .common-form {
                text-align: center;
                margin-top: 40px;
                .title {
                    color: #fff;
                    margin-bottom: 10px;
                    h4 {
                        font-size: 24px;
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .privacy {
                    display: block;
                    & > p {
                        text-align: left;
                        color: #fff;
                        max-width: 533px;
                    }
                }
            }
        }
        &.type-5 {
            .intro-slider {
                position: relative;
                max-width: calc(100vw - 15px);
                .item {
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    outline: none;
                    &.height-wh {
                        height: calc(100vh - 65px);
                        @include mq('tablet') {
                            height: calc(100vh - 50px);
                        }
                    }
                    .content {
                        position: relative;
                        z-index: 2;
                        .inner {
                            padding: 30px 100px 70px 100px;
                        }
                    }
                    .item-text {
                        h4 {
                            font-size: 24px;
                            color: #fff;
                        }
                        p {
                            font-size: 20px;
                            color: #fff;
                        }
                    }
                }
                .slick-arrow {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 50px;
                    height: 50px;
                    margin: auto;
                    border: 2px solid #fff;
                    border-radius: 40px;
                    background-color: transparent;
                    text-indent: -9999px;
                    z-index: 3;
                    outline: none;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(0,0,0,.5);
                    background-size: 24px;
                    transition: .2s ease;
                    &:hover {
                        background-color: rgba(0,0,0,.7);
                    }
                    &.slick-prev {
                        left: 20px;
                        background-image: svg-load('../../images/svg/arrow-left.svg', fill=#fff);
                    }
                    &.slick-next {
                        right: 20px;
                        background-image: svg-load('../../images/svg/arrow-right.svg', fill=#fff);
                    }
                }
                .slick-dots {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 30px;
                    margin: auto;
                    font-size: 0;
                    text-align: center;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 4px;
                        padding: 2px;
                        button {
                            width: 16px;
                            height: 16px;
                            border: none;
                            border-radius: 14px;
                            opacity: .6;
                            transition: .2s ease;
                            cursor: pointer;
                            background-color: transparent;
                            border: 3px solid #fff;
                            outline: none !important;
                        }
                        &:hover {
                            button {
                                opacity: 1;
                            }
                        }
                        &.slick-active {
                            button {
                                opacity: 1;
                                background-color: $c-primary;
                            }
                        }
                    }
                }
            }
        }
    }
    // &.page {
    //     background-image: resolve('page-bg.jpg');
    //     .content {
    //         height: 380px;
    //         // padding: 150px 0 130px 0;
    //         h1 {
    //             margin-bottom: 0;
    //         }
    //     }
    // }
    // &.page-404 {
    //     .content {
    //         height: 100vh;
    //     }
    // }
}
