//-----------------------------------
//   Покупка лицензии
//-----------------------------------

.l-license {
    position: relative;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @include mq('tablet') {
        padding: 50px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(40, 40, 40, 0.8);
    }
    .text {
        text-align: center;
        h4 {
            font-size: 30px;
            font-weight: 700;
            line-height: 38px;
            margin-bottom: 40px;
            color: #fff;
            text-align: center;
            @include mq('tablet') {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 25px;
            }
            span {
                color: $c-secondary;
            }
        }
        .row {
            margin-bottom: 40px;
            @include mq('tablet') {
                margin-bottom: 15px;
            }
        }
        p {
            color: #fff;
            font-size: 18px;
            @include mq('tablet') {
                margin-bottom: 15px;
            }
            strong {
                &.blue {
                    color: $c-secondary;
                }
            }
            &.bold {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 40px;
                @include mq('tablet') {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
