//-----------------------------------
//   Modals
//-----------------------------------

.modal {
    .modal-dialog {
        @media (min-width: 576px) {
            &.w-500 {
                max-width: 500px;
                margin: 50px auto 30px auto;
            }
        }
        .modal-content {
            position: relative;
            padding: 40px 35px;
            border: none;
            border-radius: 0;
            @include mq('md') {
                padding: 45px 20px 30px 20px;
            }
            .top {
                text-align: center;
                margin-bottom: 25px;
                h4 {
                    font-size: 30px;
                    font-weight: 700;
                    @include mq('md') {
                        font-size: 24px;
                    }
                }
                p {
                    font-size: 18px;
                    margin: 0;
                    @include mq('md') {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                .modal-close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 26px;
                    height: 26px;
                    background: svg-load('../../images/svg/close.svg') no-repeat center;
                    background-size: 18px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: .2s ease;
                    &:hover {
                        opacity: .6;
                    }
                }
            }
            .common-form {

            }
        }
    }
    &#modalSuccess {
        .modal-content {
            padding: 50px 35px;
            .top {
                margin-bottom: 0;
            }
        }
    }
}