//-----------------------------------
//   Цена внедрения
//-----------------------------------

.l-price {
    position: relative;
    padding: 80px 0;
    @include mq('tablet') {
        padding: 50px 0 20px 0;
    }
    .block-title {
        margin-bottom: 50px;
    }
    .item {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,.4);
        @include mq('tablet-wide') {
            max-width: 400px;
            margin: 0 auto 30px auto;
        }
        .top {
            background-color: $c-primary;
            padding: 25px 10px;
            @include mq('tablet') {
                padding: 20px 10px;
            }
            h4 {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                margin-bottom: 0;
                @include mq('tablet') {
                    font-size: 24px;
                }
            }
        }
        .content {
            padding: 30px 25px;
            @include mq('tablet') {
                padding: 25px 20px;
            }
            ul {
                margin-bottom: 15px;
                li {
                    list-style: none;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            p.price {
                display: inline-block;
                margin-bottom: 15px;
                font-size: 32px;
                font-weight: 700;
                @include mq('tablet') {
                    font-size: 28px;
                }
                span {
                    color: $c-primary;
                }
            }
            .btn {
                display: block;
                width: 100%;
                padding: 12px 25px;
                margin: auto;
            }
        }
    }
}
