//-----------------------------------
//   Отзывы
//-----------------------------------

.l-testimonials {
    padding: 80px 0;
    background-color: #f5f5f5;
    @include mq('tablet') {
        padding: 50px 0;
    }
    .block-title {
        margin-bottom: 60px;
        @include mq('tablet') {
            margin-bottom: 45px;
        }
    }
    .testimonials-slider {
        max-width: 900px;
        margin: auto;
        .item {
            text-align: center;
            outline: none;
            padding: 0 160px;
            @include mq('tablet') {
                padding: 0;
            }
            .user {
                margin-bottom: 20px;
                .img {
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    border-radius: 100px;
                    border: 2px solid $c-primary;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 15px;
                }
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 14px;
                    color: #aaa;
                    a {
                        border-bottom: 1px dashed $c-primary;
                        &:hover {
                            border-bottom-color: transparent;
                        }
                    }
                }
            }
            .text {
                p {
                    font-size: 18px;
                    line-height: 24px;
                    @include mq('tablet') {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }

        }
        .slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 46px;
            height: 46px;
            border: none;
            margin: auto;
            z-index: 2;
            outline: none;
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: transparent;
            cursor: pointer;
            transition: .2s ease;
            @include mq('tablet') {
                top: 35px;
                bottom: auto;
            }
            &.slick-prev {
                left: 0;
                background-image: svg-load('../../images/svg/arrow-left.svg', fill=$c-primary);
                &:hover {
                    background-image: svg-load('../../images/svg/arrow-left.svg', fill=lighten($c-primary, 10%));
                    transform: translateX(-3px);
                }
            }
            &.slick-next {
                right: 0;
                background-image: svg-load('../../images/svg/arrow-right.svg', fill=$c-primary);
                &:hover {
                    background-image: svg-load('../../images/svg/arrow-right.svg', fill=lighten($c-primary, 10%));
                    transform: translateX(3px);
                }
            }
        }
        ul.slick-dots {
            text-align: center;
            margin-top: 40px;
            li {
                display: inline-block;
                margin: 0 8px;
                border: 2px solid #555;
                padding: 2px;
                cursor: pointer;
                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    text-indent: -9999px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    background-color: $c-primary;
                    transition: .2s ease;
                    transform: scale(0);
                    cursor: pointer;
                }
                &:hover {
                    button {
                        transform: scale(1);
                        background-color: lighten($c-primary, 15%);
                    }
                }
                &.slick-active {
                    button {
                        transform: scale(1);
                    }
                    &:hover {
                        button {
                            background-color: $c-primary;
                        }
                    }
                }

            }
        }
    }
    .all-testimonials {
        text-align: center;
        margin-top: 60px;
    }
}
