//-----------------------------------
//  Что мы предлагаем
//-----------------------------------

.l-what-we-do {
    padding: 80px 0;
    @include mq('tablet-wide') {
        padding: 50px 0;
    }
    .item {
        margin-bottom: 50px;
        font-size: 0;
        @include mq('tablet') {
            margin-bottom: 30px;
        }
        .ico {
            display: inline-block;
            vertical-align: top;
            width: 50px;
            height: 50px;
            border-radius: 40px;
            color: #fff;
            background-color: $c-primary;
            font-size: 25px;
            font-weight: 700;
            padding: 7px;
            margin-right: 20px;
            text-align: center;
            @include mq('tablet') {
                width: 36px;
                height: 36px;
                font-size: 18px;
                padding: 5px;
                margin-right: 15px;
            }
        }
        .text {
            display: inline-block;
            vertical-align: top;
            padding-top: 3px;
            width: calc(100% - 70px);
            @include mq('tablet') {
                width: calc(100% - 55px);
            }
            h4 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
                @include mq('tablet') {
                    font-size: 18px;
                }
            }
            p {
                font-size: 18px;
                @include mq('tablet') {
                    font-size: 16px;
                }
            }
        }
    }
}
