//-----------------------------------
//   Reapiting styles
//-----------------------------------

// Кнопки
.btn {
    position: relative;
    padding: 11px 30px;
    height: 42px;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    @include mq('md') {
        padding: 11px 20px;
    }
    &:hover {
        background-color: $c-primary;
    }
    &:focus {
        box-shadow: none !important;
    }
    &:active {
        transform: translateY(1px);
    }
    span {
        opacity: 1;
        visibility: visible;
        transition: .1s ease;
    }
    &.primary {
        background-color: $c-primary;
        color: #fff;
        &:hover {
            background-color: darken($c-primary, 5%);
        }
    }
    &.loading {
        background-image: svg-load('../../images/svg/spinner.svg');
        background-size: 26px;
        span {
            opacity: 0;
            visibility: hidden;
        }
    }
}

// Заголовков секций
// .block-title {
//     margin: 0 auto 80px auto;
//     text-align: center;
//     max-width: 710px;
//     padding: 0 10px;
//     @include mq('tablet') {
//         margin-bottom: 50px;
//     }
//     &:after {
//         content: "";
//         display: block;
//         max-width: 100px;
//         margin: auto;
//         height: 1px;
//         margin-top: 20px;
//         background-color: $c-primary;
//     }
//     h2 {
//         font-size: 36px;
//         font-weight: 700;
//         margin: 0;
//         @include mq('tablet-wide') {
//             font-size: 32px;
//         }
//         @include mq('tablet') {
//             font-size: 26px !important;
//         }
//     }
//     p {
//         font-size: 20px;
//         margin: 25px 0 0 0;
//         @include mq('tablet') {
//             font-size: 18px;
//             margin-top: 15px;
//         }
//     }
//     &.white {
//         h2, p {
//             color: #fff;
//         }
//     }
// }

// Форма
form.common-form {
    .form-group {
        position: relative;
        margin-bottom: 35px;
        &.width-30-persent {
            width: 30%;
        }
        .form-control {
            border: none;
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            font-size: 16px;
            line-height: 22px;
            border-radius: 0;
            @include mq('md') {
                height: 42px;
                font-size: 15px;
            }
            &:focus {
                box-shadow: none;
                border-bottom-color: lighten($c-primary, 5%);
            }
        }
        textarea {
            resize: none;
            min-height: 130px;
        }
        .err {
            position: absolute;
            left: 0;
            bottom: -19px;
            display: none;
            color: $c-danger;
            font-size: 12px;
        }
        &.has-error {
            .form-control {
                border-bottom-color: $c-danger;
            }
            .err {
                display: block;
            }
        }
    }
    .btn {
        display: block;
        width: 100%;
    }
    .privacy {
        margin-top: 20px;
        font-size: 0;
        label.checkbox {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            font-size: 0;
            margin: 0 10px 0 0;
            border: 1px solid $c-primary;
            background-color: #fff;
            transition: .2s ease;
            cursor: pointer;
            &:hover {
                background-color: #eee;
            }
            i {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: svg-load('../../images/svg/check-symbol.svg', fill=$c-primary) no-repeat center;
                background-size: 10px;
                transition: .2s ease;
                transform: scale(0);
            }
            input {
                display: none;
            }
            input:checked + i {
                transform: scale(1);
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            line-height: 14px;
            width: calc(100% - 30px);
            margin: 0;
            a {
                color: lighten($c-primary, 5%);
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom-color: lighten($c-primary, 5%);
                }
            }
        }
    }
    // Inline form
    &.inline-form {
        font-size: 0;
        .form-group {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 0;
            background-color: #fff;
            .form-control {
                padding: 13px 15px;
                height: 50px;
                border: 1px solid #fff;
                &:focus {
                    border-color: $c-primary;
                }
            }
            .err {
                bottom: -20px;
            }
            &.has-error {
                .form-control {
                    border-color: $c-danger;
                }
            }
        }
        .send {
            display: inline-block;
            vertical-align: top;
            width: auto;
        }
    }
}

